---
version: 2.1

parameters:
  rollback_job:
      type: boolean
      default: false

jobs:
    get_data:
      docker:
          - image: 139bercy/decp-rama
      steps:
          - checkout
          - run: date +%F > date
          - run:
              name: Récupération des données
              command: |
                   ./process.sh all get only
          - save_cache:
              key: data-in-{{ .Branch }}-{{ checksum "sources/metadata.json" }}-{{ checksum "date" }}
              paths:
                - "json/"
                - "xml/"
                - "sources/"
    process:
        docker:
            - image: 139bercy/decp-rama
        steps:
            - checkout
            - run: date +%F > date
            - restore_cache:
                keys:
                  - data-in-{{ .Branch }}-{{ checksum "sources/metadata.json" }}-{{ checksum "date" }}
                  - data-in-master-{{ checksum "sources/metadata.json" }}-{{ checksum "date" }}
            - run:
                name: Traitement des données
                no_output_timeout: 6h
                command: |
                     ./process.sh all fix only
                     ./process.sh all convert only
                     ./process.sh all package only
                     ./process.sh all package nothing # traitement final pour regrouper toutes les données
            - save_cache:
                key: data-out-{{ .Branch }}-{{ checksum "date" }}
                paths:
                  # - "results/decp_previous.json"
                  - "json/decp.json"
                  - "xml/decp.xml"
                  - "results/"
                  # - "decp_*.json"
                  # - "decp_*.xml"
                  - "json/decp.ocds.json"
    publish:
      docker:
        - image: 139bercy/decp-rama
      steps:
        - checkout
        - run: date +%F > date
        - restore_cache:
            keys:
              - data-out-{{ .Branch }}-{{ checksum "date" }}
        - run:
            name: Publication des données sur (next.)data.gouv.fr
            command: |
                ./publish-decp.sh
        - run:
            name: run rollback job
            command: |
                curl -X POST 'https://circleci.com/api/v2/project/gh/139bercy/decp-rama/pipeline' -H 'circle-token: '${CIRCLE_TOKEN} -H 'content-type: application/json' -d '{"branch":"master", "parameters":{"rollback_job": true}}'
            when: on_fail

    rollback_publish:
      docker:
        - image: 139bercy/decp-rama
      steps:
        - checkout
        - run: date -d '-1 day' +%F > date
        - restore_cache:
            keys:
              - data-out-master-{{ checksum "date" }}
        - run:
            name: Publication des données sur (next.)data.gouv.fr
            command: |
                date=$(date -d '-1 day' +%F) ./publish-decp.sh

workflows:
    version: 2
    data:
      jobs:
        - get_data
      triggers:
        - schedule:
            cron: 0 1 * * 1,2,3,4,5,6 # d'après la doc circle ci, 1-6 n'est pas supporté (même si cela semble avoir fonctionné)
            filters:
              branches:
                only:
                  - master

    dev:
      when:
        not: << pipeline.parameters.rollback_job >>
      jobs:
          # - hold: # <<< A job that will require manual approval in the CircleCI web application.
          #     type: approval # <<< This key-value pair will set your workflow to a status of "On Hold"
          # - get_data:
          #     requires:
          #       - hold # Will only be validated if approved so get_data won't run until then
          - process
          # - hold: # <<< A job that will require manual approval in the CircleCI web application.
          #     type: approval # <<< This key-value pair will set your workflow to a status of "On Hold"
          # - publish:
          #     context:
          #       - decp-rama-context
          #     requires:
          #       - hold

    daily:
      jobs:
        - process
        - publish:
            context:
              - decp-rama-context
            requires:
              - process
      triggers:
        - schedule:
            cron: 0 3 * * 2,3,4,5,6
            filters:
              branches:
                only:
                  - master

    rollback_publish:
      when: << pipeline.parameters.rollback_job >>
      jobs:
        - rollback_publish:
            context:
              - decp-rama-context
